<tool name="APLTreeUtils2">  <version>1.0.0</version>  <date>2020-09-06</date>  <container>#.APLTreeUtils2</container>  <needs>    <script development="true">FilesAndDirs</script>    <script development="true">OS</script>    <script development="true">Logger</script>    <script development="true">Execute</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <buildid>26</buildid>  <package>1</package>  <desc>General utilities :Included by most members of the APLTree library</desc>  <tags>Utilities;Linux;Mac-OS;Windows</tags>  <new>1</new></tool>
